@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* common styles */

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8FF;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    padding: 5% 8%;
}

/* common styles end */


/* header{
    padding: 1% 8%;
} */
nav {
    padding: 29px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
}
nav .nav-title{
    align-items: center;
}
.menus  .fas{
    font-size: 30px;
}
.menus .fab{
    font-size: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-right: 30px;
    align-items: center;
    margin-top: 10px;
}
nav ul li a{
    font-weight: 600;
    line-height: 24px;
    font-size: 1em;
    text-decoration: none;
    color: #3A3A3A;
}

/* banner section start */

.banner-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-items .banner-details{
    width: 50%;
}
.banner-items .banner-details p{
    line-height: 30px;
    margin: 20px 0;
}

/* animation */

.animated-text {
    position:relative;
    height:70px;
    overflow:hidden;
}
.animated-text h3 {
    color:#E02C6D;
    font-size:3em;
    font-weight:700;
    line-height:70px;
    letter-spacing:1px;
}
.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
}
@keyframes text-move {
    0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -70px;;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }
}

/* Animation end */

.banner-items .banner-details h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 55px;
    line-height: 70px;
}

.banner-items .banner-img{
    width: 40%;
}
.banner-btn {
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background: rgb(224, 44, 109);
    border-radius: 41px;
    transition: all 0.3s ease 0s;
    border: none;
    cursor: pointer;
}
.banner-btn:hover{
    background-color: #da7097;
}
.banner-btn .fa-arrow-right{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    align-items: center;
}

/* Popular Section start */

.popular-section{
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.section-title h2{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    
}
.all-collections{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 45px 20px;
    position: relative;

}
.all-collections .box{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}
.item-details h3{
    font-size: 1.5em;
    margin: 10px 0px;
}
.item-details .price{
    font-size: 1.5em;
    margin-bottom: 0 30px;
}
.rateing-star{
    display: flex;
}
.rateing-star li{
    list-style: none;
    margin-right: 10px;
    color: #FB8200;
}
#see-more {
    background-color: #F8F8FF;
    position: absolute;
    right: 147px;
    bottom: 10px;
    color: #E02C6D;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    border: none;
    border: none;
}
#see-more:hover {
    color:#f51768;
}
#see-more #see-more-right-arrow{
    margin-left: 8px;
    font-weight: bold;
}

/* Popular Section end */

/* footer top section start */

.footer-top{
    padding: 5% 8%;
}
.footer-top-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.footer-top .box-container{
    display: flex;
    justify-content: center;
}
.footer-box {
    width: 260px;
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}
.footer-box h3{
    font-size: 25px;
}
.footer-box ul li{
    list-style: none;
    margin: 15px 0px;
}
.footer-box ul li a{
    text-decoration: none;
    color: black;
}
.footer-box ul li .fas{
    color:rgb(224, 44, 109);
    margin-right: 10px;
}
.footer-top .box-container .footer-box ul li i{
    transition-duration: .5s;
}
.footer-top .box-container .footer-box a:hover i{
    padding-right: 1rem;
}

/* footer top section end */

/* footer section start */

footer{
    height: 250px;
    width: 100%;
    background-color: #0A0826;
}
footer .footer-details {
    height: 200px;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    line-height: 2;
    color: white;
}
.footer-title {
    font-size: 30px;
    font-weight: 600;
}
.social-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-icon ul li {
    height: 25px;
    width: 25px;
    padding: 6px;
    border-radius: 50px;
    list-style: none;
    font-size: 14px;
    margin: 10px 7px;
    background-color: #ffffff17;
    
}
.social-icon ul li .fab{
    color: #ffffff;
}


/* footer section end */




/* Media Queries start */

/* mobile responsiv start */

@media only screen and (max-width: 600px){
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
    header{
        width: 100%;
        margin: 2px;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav .nav-title{
        width: 100px;
    }
    header nav .menus{
        display: none;
    }
    nav h3{
        font-size: 10px;
    }

    /* banner section */
    .banner-main{
        width: 100%;
        
    }
    .banner-items{
        /* display: flex; */
        /* height: 600px; */
        flex-direction: column;
        justify-content: center;
    }
    .banner-details{
        width: 150px;
        order: 2;
        margin-left: 10px;
    }
    .banner-img{
        width: 80px;
        margin-right: 200px;
        order: 1;
    }
}


/* mobile responsiv end */

/* tablet responsiv start */

@media only screen and (max-width: 360px){

    

}

/* tablet responsiv end */

/* Media Queries end */