@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* common styles */

*{
    margin: 0;
    padding: 0;
}
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8FF;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    padding: 5% 8%;
}

/* common styles end */


header{
    padding: 1% 8%;
}
nav{
    padding: 30px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
nav h3{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
}
nav .nav-title{
    align-items: center;
}
.menus  .fas{
    font-size: 30px;
}
.menus .fab{
    font-size: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-right: 30px;
    align-items: center;
    margin-top: 10px;
}
nav ul li a{
    font-weight: 600;
    line-height: 24px;
    font-size: 1em;
    text-decoration: none;
    color: #3A3A3A;
}

/* banner section start */

.banner-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-items .banner-details{
    width: 50%;
}
.banner-items .banner-details p{
    line-height: 30px;
    margin: 20px 0;
}

/* animation */

.animated-text {
    position:relative;
    height:70px;
    overflow:hidden;
}
.animated-text h3 {
    color:#E02C6D;
    font-size:3em;
    font-weight:700;
    line-height:70px;
    letter-spacing:1px;
}
.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
}
@keyframes text-move {
    0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -70px;;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }
}

/* Animation end */

.banner-items .banner-details h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 55px;
    line-height: 70px;
}

.banner-items .banner-img{
    width: 40%;
}
.banner-btn {
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background: rgb(224, 44, 109);
    border-radius: 41px;
    transition: all 0.3s ease 0s;
    border: none;
    cursor: pointer;
}
.banner-btn:hover{
    background-color: #da7097;
}
.banner-btn .fa-arrow-right{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    align-items: center;
}

/* Popular Section start */

.popular-section{
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.section-title h2{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    
}
.all-collections{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 45px 20px;
    position: relative;

}
.all-collections .box{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}
.item-details h3{
    font-size: 1.5em;
    margin: 10px 0px;
}
.item-details .price{
    font-size: 1.5em;
    margin-bottom: 0 30px;
}
.rateing-star{
    display: flex;
}
.rateing-star li{
    list-style: none;
    margin-right: 10px;
    color: #FB8200;
}
#see-more {
    background-color: #F8F8FF;
    position: absolute;
    right: 147px;
    bottom: 10px;
    color: #E02C6D;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
    border: none;
    border: none;
}
#see-more:hover {
    color:#f51768;
}
#see-more #see-more-right-arrow{
    margin-left: 8px;
    font-weight: bold;
}

/* Popular Section end */


.footer-top{
    padding: 5% 8%;
}
.footer-top-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.footer-top .box-container{
    display: flex;
    justify-content: center;
}
.footer-box {
    width: 230px;
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;

}
.footer-box h3{
    font-size: 25px;
}
.footer-box ul li{
    list-style: none;
    margin: 15px 0px;
}
.footer-box ul li a{
    text-decoration: none;
    color: black;
}
.footer-box ul li .fas{
    color:rgb(224, 44, 109);
    margin-right: 10px;
}

/* .footer-top .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    background-color: red;
}
.footer-box .box-container .footer-box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}

.footer-box .box-container .footer-box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer-box .box-container .footer-box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer-box .box-container .footer-box a:hover i{
    padding-right: 2rem;
}

.footer-box .box-container .footer-box .map{
    width:100%;
} */

/* .footer-box .share{
    padding:1rem 0;
    text-align: center;
}

.footer-box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer-box .share a:hover{
    background:var(--black);
}

.footer-box .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer-box .credit span{
    color:var(--green);
} */

/* .loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* footer section start */

footer{
    height: 250px;
    width: 100%;
    background-color: #0A0826;
}
footer .footer-details {
    height: 200px;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    line-height: 2;
    color: white;
}
.footer-title {
    font-size: 30px;
    font-weight: 600;
}
.social-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-icon ul li {
    height: 25px;
    width: 25px;
    padding: 6px;
    border-radius: 50px;
    list-style: none;
    font-size: 14px;
    margin: 10px 7px;
    background-color: #ffffff17;
    
}
.social-icon ul li .fab{
    color: #ffffff;
}


/* footer section end */